@import "tailwindcss";

button,
[role='button'],
input[type='button'],
input[type='submit'],
input[type='checkbox'],
input[type='radio'],
input[type='file'],
select,
label[for] {
  cursor: pointer;
}

button:disabled,
input:disabled,
select:disabled {
  cursor: not-allowed;
}
